<template>
   <form class="flex-center">
      <u-content></u-content>
      <div class="element">
         <label for="name"><u-l path="faq/form/name"></u-l></label><br>
         <input type="text" id="name" name="name"><br>
      </div>
      <div class="element">
         <label for="email"><u-l path="faq/form/email"></u-l></label><br>
         <input type="text" id="email" name="email"><br>
      </div>
      <div class="element">
         <label for="question"><u-l path="faq/form/question"></u-l></label><br>
         <input type="text" id="question" name="question"></textarea><br>
      </div>
      <br>
      <input id="submit" type="submit" onclick="" value="📨">
      <div id="feedback"></div>
    </form> 
</template>