:root{
    --side-padding: 5rem;
}

body{
    font-family: "Trebuchet MS";
}

u-app {
    display: grid;
    grid-template-rows: max-content auto max-content;
    min-height: 100vh;
}
u-app u-header {
    z-index: 2;
}
u-app u-router {
    z-index: 1;
}
u-app u-footer {
    z-index: 0;
}

/* public classes */

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}