u-header {
    background: rgb(15, 1, 15);
    color: white;
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    transition: transform 0.1s linear;
    gap: 2rem;
    padding: 0 var(--side-padding);
}

u-header.hidden {
    transform: translateY(-100%);
}

u-header h1 {
    margin-right: auto;
}