u-router {
    position: relative;
    background: black;
    color: white;
}

u-router #content{
    position: relative;
    padding: var(--side-padding);
    text-align: justify;
}

u-router #content .separator{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    height: 10rem;
    background: linear-gradient(transparent, black, transparent);
}