u-router {
    position: relative;
    background: var(--bg-1);
}

u-router #wave~section {
    position: relative;
    padding: 40vh var(--side-padding);
    text-align: justify;
}

u-router #cards {
    overflow-x: hidden;
    position: relative;
}

u-router #cards u-scroll-anim {
    position: relative;
    width: 40%;
    left: 50%;
}

u-router #cards u-scroll-anim+u-scroll-anim {
    margin-top: 10rem;
}

u-router #cards u-scroll-anim:nth-child(2n) u-card {
    transform: translateX(-100%);
}

u-router #cards u-card {
    padding: 3rem 1rem;
}