<template>
    <section id="wave">
        <u-retro-wave>
            <h2 id="name">
                <u-l path="main/name"></u-l>
            </h2>
        </u-retro-wave>
    </section>
    <section id="cards">
        <u-scroll-anim blur dir="left" opacity>
            <u-card>
                <h2><u-l path="main/cards/life/h"></u-l></h2>
                <p><u-l path="main/cards/life/p"></u-l></p>
            </u-card>
        </u-scroll-anim>
        <u-scroll-anim blur dir="right" opacity>
            <u-card>
                <h2><u-l path="main/cards/universe/h"></u-l></h2>
                <p><u-l path="main/cards/universe/p"></u-l></p>
            </u-card>
        </u-scroll-anim>
        <u-scroll-anim blur dir="left" opacity>
            <u-card>
                <h2><u-l path="main/cards/evrything/h"></u-l></h2>
                <p><u-l path="main/cards/evrything/p"></u-l></p>
            </u-card>
        </u-scroll-anim>
    </section>
    <section id="anwser">
        <p><b><u-l path="main/anwser/p"></u-l></b></p>
        <h2><u-l path="main/anwser/h"></u-l></h2>
    </section>
    <section id="question">
        <p><b><u-l path="main/question/p"></u-l></b></p>
        <br>
        <h2><u-l path="main/question/h"></u-l></h2>
        <p>
            <q><u-l path="main/question/q1"></u-l></q>
            <br>
            <q><u-l path="main/question/q2"></u-l></q>
            <br>
            <q><u-l path="main/question/q3"></u-l></q>
        </p>
    </section>
</template>