<template>
    <div id="main">
        <div id="background" class="flex-center">
            <div id="parallax" class="flex-center">
                <div id="moon" class="flex-center">
                    <img src="/src/public/moon.png" alt="">
                    <h2 id="name">
                        <u-l path="main/name"></u-l>
                    </h2>
                </div>
            </div>
            <img id="mountain" src="/src/public/mountain.png" alt="">
            <div class="separator"></div>
        </div>
        <div class="separator"></div>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sunt expedita corrupti, fugiat porro
            cupiditate, tempora sint cum consequatur ut, laudantium suscipit? Reprehenderit, ex vitae possimus ad
            molestiae praesentium accusamus aliquam laudantium aut, excepturi sint libero, maxime corrupti. Inventore,
            impedit! Obcaecati, voluptatem dolore qui alias nesciunt tenetur iure ipsa nostrum excepturi vero deleniti
            voluptas quasi eius assumenda earum sed aspernatur eveniet fugit necessitatibus labore soluta autem amet
            iste enim. Quos cupiditate odit adipisci soluta quis rerum fugiat accusamus sed aspernatur, quas earum?
            Molestias iste perspiciatis libero ex facilis porro, dicta magnam praesentium blanditiis animi minus
            excepturi aliquam sapiente, totam aut officiis voluptates ad laborum doloribus consectetur officia dolor
            dignissimos tempora atque! Perspiciatis nostrum aperiam soluta dolorum ab tempora. Vitae consectetur
            voluptatum ratione, nulla, explicabo hic autem fugiat aperiam fugit, voluptates necessitatibus natus! Sint
            laudantium asperiores ad inventore veritatis! Laboriosam optio necessitatibus dolores, soluta placeat
            quaerat quae vitae voluptas dignissimos minima reiciendis id dolorum natus est facere nisi doloribus esse
            maxime tenetur. Labore deserunt sequi aspernatur debitis quaerat vero corrupti voluptatibus provident
            fugiat, saepe in eveniet doloremque dolor inventore sit tempora eius accusantium at, consequatur quam
            perferendis ducimus! Provident dolores optio, recusandae modi, perferendis praesentium quae est dolore
            debitis ipsum ullam dolorum tempora voluptatem officia iusto! Ut, natus sit assumenda repellat dolores fugit
            quam reprehenderit aliquid, officia incidunt modi iste quae provident similique corporis minima consectetur
            mollitia rem doloribus nobis aut praesentium! Dignissimos numquam accusantium, ea minima impedit repellendus
            quia vitae quisquam repudiandae ullam possimus tenetur assumenda dicta iure, dolorum, eaque reiciendis
            voluptatem distinctio mollitia quas. Vel eum excepturi quasi nam dolore ea. Ipsam, numquam perferendis.
            Doloribus et quos debitis cum eos qui odit rerum earum, nostrum aspernatur? Corrupti voluptate laboriosam
            tempore aspernatur impedit officiis magnam sapiente magni veniam reprehenderit eligendi, ad blanditiis
            explicabo reiciendis optio assumenda minima fuga, nam, culpa libero perspiciatis unde omnis sint. Magnam,
            sint reprehenderit. Suscipit culpa corrupti vero adipisci iure sunt impedit consequuntur quas laudantium
            dolore nobis est asperiores veritatis voluptatibus, eos aperiam consectetur quisquam. Provident placeat,
            odio ad blanditiis, laudantium eum autem neque dignissimos repellat, consectetur quam. Laudantium recusandae
            placeat similique, cupiditate modi laboriosam consequuntur perferendis quis rerum accusamus ea animi facere
            perspiciatis minima itaque excepturi error maiores beatae ab tenetur? Quae dolore facilis doloribus vero.
            Tenetur, nostrum sit! Quibusdam, alias voluptatem quo exercitationem ex ab animi ipsam. Reiciendis dolore
            eius repellendus recusandae, quos facilis alias aspernatur odit maiores soluta voluptates laboriosam illum
            aperiam ex cupiditate, molestiae reprehenderit dolorum cum. Molestiae fuga distinctio impedit, enim sunt et
            veritatis odio nesciunt autem necessitatibus vel dolor illo hic quos doloribus. Vero mollitia nam,
            exercitationem sed animi praesentium alias cum non rem omnis blanditiis quos aliquam qui corporis quas at
            beatae sunt recusandae! Accusantium sunt odio doloribus voluptatum alias culpa tempore? Quaerat, inventore
            impedit cumque officia minus aperiam esse distinctio quam velit dolorum voluptatibus eos. Illo labore esse
            quibusdam nisi sapiente ut voluptatem ipsum dolore. Commodi aliquid voluptas debitis cupiditate eveniet
            nihil mollitia laudantium nemo? Modi ab autem dicta optio nemo, officiis culpa eos corrupti, quae
            accusantium quis perspiciatis cumque mollitia, illum expedita alias non! Facere, dolorum quis. A atque
            assumenda ex nam earum excepturi eos suscipit obcaecati dolorem vero similique, enim, consectetur tenetur.
            Atque earum maiores soluta alias eaque repellat nihil! Dolorem delectus eos cumque fugit culpa corrupti,
            nulla placeat aliquam et autem cum, consequatur quasi voluptatum eligendi quas sit rem. Dolores assumenda
            inventore perspiciatis rerum sit est ut ex quas quia debitis blanditiis cupiditate odio, placeat ullam
            suscipit deserunt id praesentium unde obcaecati error quod veritatis. Excepturi eaque odit exercitationem
            eligendi delectus perferendis. Facilis praesentium quam minus eaque architecto dignissimos autem velit
            doloribus reprehenderit sed, possimus itaque porro ipsa quisquam expedita, repellat dolorem, minima quaerat.
            Sunt necessitatibus a doloribus, deleniti adipisci dicta, odio fuga impedit at, reiciendis neque hic? Harum
            sapiente odit nulla omnis, nostrum iusto eligendi natus iure aliquam porro esse consectetur deserunt.
            Incidunt impedit sed, exercitationem rerum, nostrum placeat doloremque tempore tenetur, eveniet itaque
            adipisci deserunt fugit unde obcaecati ipsa nulla quisquam cum temporibus corporis fuga a ad dicta libero
            dolores? Harum dolorem velit, inventore temporibus eligendi eaque alias? Porro, voluptate. Voluptas eveniet
            ipsam, saepe sed assumenda quisquam aspernatur similique maiores alias aperiam quas soluta, molestiae
            quibusdam quos porro recusandae sit ipsa fuga magnam! Nulla officia exercitationem consectetur ab quidem
            aspernatur aut, optio modi deleniti eum enim eligendi iste, ullam cum laborum quasi provident recusandae!
            Ullam quia exercitationem tempora quasi minima fugiat ut odit praesentium veniam provident repellat
            quibusdam dignissimos tempore dicta dolores eveniet perspiciatis repellendus, dolorum officia quae minus
            asperiores. Maxime facere minima alias nesciunt perspiciatis incidunt suscipit voluptatem libero, corrupti
            sed quidem quia expedita ducimus, dignissimos eos magnam. Atque aliquid rerum sed sunt. Commodi labore
            obcaecati illo, laborum dolor consequatur eum ea magni error, at, aliquid veniam consequuntur. Itaque quidem
            nisi facilis possimus ullam voluptates tempore minima perferendis, autem veritatis excepturi et corrupti
            veniam quos at exercitationem. Ea ab omnis aliquam architecto sint, perspiciatis commodi beatae eveniet
            cupiditate numquam error dicta dolorum harum vero sit veritatis at saepe asperiores necessitatibus quia!
            Reiciendis ad neque impedit illum magni modi pariatur sed! Nostrum aliquam magni magnam culpa odit
            asperiores consequuntur vero beatae odio recusandae, facilis porro aut eveniet iure ab, quaerat pariatur
            rerum eaque soluta debitis veniam illum perspiciatis. Laborum, rem vel? Explicabo quasi ut non nostrum, in
            adipisci velit fuga, saepe cupiditate illo consequuntur. Placeat exercitationem minima magni? Possimus iure
            beatae perferendis tempore facere repellat odit magnam fugit officia quo id fugiat ratione et, omnis
            assumenda tempora temporibus quod repudiandae voluptatem. Iure delectus illo exercitationem necessitatibus
            fugit illum, maiores rem facilis sunt saepe corrupti nihil totam numquam possimus assumenda pariatur!
            Necessitatibus, alias? Neque, in? Asperiores repellendus pariatur eos nulla dolores nam modi a, similique
            temporibus tempora nemo ipsam aliquam suscipit! Molestias aliquam neque reprehenderit accusantium hic
            expedita quod ab rerum exercitationem ipsam quisquam illo voluptates facilis fuga odio quasi nemo facere
            delectus, voluptas quis repellat adipisci! Quas deleniti dicta corporis aliquid rem. Distinctio facilis
            consequatur in necessitatibus officiis deserunt, dolores doloremque odit hic dignissimos, incidunt, est
            corporis error illum. Totam rem velit, ad quidem officia quibusdam placeat hic ipsum id cum reiciendis
            accusantium iste nobis eos deleniti perferendis ipsam voluptas porro, laborum, aliquam numquam eligendi.
            Placeat, beatae non. Ea possimus esse deleniti et molestiae! Cum eligendi aliquid quidem nesciunt? Eum
            officiis commodi temporibus consequuntur debitis perferendis veniam asperiores voluptatibus modi harum
            labore, vitae dolore consectetur magni in, sunt nobis? Repellat quia quis laboriosam? Officia dolorem vel
            aliquid vero ipsam earum sint! Totam, dolorem in. Ipsum ratione eaque, facilis quas et eius necessitatibus
            repudiandae numquam molestiae delectus, obcaecati autem corrupti magnam consequuntur amet nostrum quod.
            Beatae expedita eaque omnis unde. In, deleniti? Quo dolor nihil deserunt velit, error voluptas veniam
            mollitia excepturi ab minima fugiat itaque tempora? Velit maiores officia minus ratione excepturi aliquam
            eum ipsam, illum ex animi, culpa iure fugiat. Facilis distinctio, numquam beatae deserunt, explicabo id
            placeat dicta porro eveniet ea, sint quia. Fugiat maiores asperiores, reiciendis et quos fugit laborum
            adipisci aliquid tempora assumenda quam animi dolorum labore officia deserunt. Fuga sequi beatae minima
            reprehenderit inventore corporis, dicta accusamus laborum nemo animi, accusantium in fugit officiis totam
            repudiandae debitis. Assumenda amet neque voluptatibus unde voluptates, totam dicta, eos repellendus saepe
            id perferendis deleniti soluta nemo quod non obcaecati, fugit provident qui iste aut ullam sint. Esse cum
            qui nemo porro nihil provident, iste mollitia dignissimos iusto fugiat accusantium ipsam, optio temporibus
            maxime veniam reprehenderit odio expedita quidem possimus alias excepturi enim ad a? Dolor necessitatibus
            eveniet voluptate dolore velit quis reiciendis delectus repellendus nesciunt quisquam ab in commodi dolores
            iusto voluptatum qui, vero corrupti quo libero? Similique temporibus nulla id obcaecati expedita cupiditate
            ex beatae voluptatum corrupti, aspernatur, sunt labore optio numquam voluptate delectus eius pariatur
            asperiores, illum recusandae unde quod! Vero cum odit dolor, sint ipsam minima accusamus consequuntur.
            Necessitatibus omnis reiciendis explicabo modi iusto. Hic earum quis laboriosam alias! Obcaecati doloremque
            eius cumque reprehenderit odio assumenda ab exercitationem, vero fugiat minima accusamus! Sint incidunt
            accusamus repellendus minus provident officia numquam illum quis, cupiditate adipisci libero qui nobis est.
            Provident perspiciatis distinctio, officia possimus tempore, sed a inventore autem quidem harum quos quas
            quo, cumque alias eius. Corrupti cupiditate vero quo atque ex perspiciatis nihil alias velit ipsam
            reprehenderit ab accusamus illum molestiae obcaecati mollitia eveniet voluptatem ut, qui laboriosam,
            voluptatum saepe suscipit aspernatur, facilis fugiat. Earum, magni incidunt? Ex reiciendis dolor commodi
            temporibus vel quia, dolorem fugiat quas maxime porro, molestias explicabo rerum blanditiis numquam modi!
            Nesciunt molestiae rerum necessitatibus inventore voluptate ea perferendis debitis minus corrupti fugit
            eveniet ullam dolore, dolorum laudantium iste, labore adipisci, repellendus ab? Quidem quis esse, doloribus
            quam, impedit autem aliquam atque accusantium voluptates pariatur reprehenderit minima sapiente facere
            perferendis animi exercitationem quaerat deserunt odit tempore necessitatibus maxime consequuntur! Est
            deserunt nobis aut vero amet quis possimus odit, officia illum, tempore nemo rem voluptates ea animi aliquam
            debitis autem, sit natus iure qui inventore eveniet eaque consectetur. Inventore consectetur, exercitationem
            beatae veritatis rerum, ea debitis architecto at corrupti nisi provident temporibus pariatur unde
            perspiciatis? Unde laborum libero optio veritatis quam. Quaerat corporis, distinctio cum quidem ducimus
            quasi, ea ex exercitationem a modi aliquam molestiae, error non voluptates tenetur commodi! Veniam sit,
            voluptates eum quo exercitationem, sed veritatis cupiditate, labore enim id culpa nam! Totam tempora
            deserunt ratione itaque officia, excepturi numquam qui quae alias rerum, tenetur possimus natus neque beatae
            minus! Ducimus illum quod ipsum explicabo natus laudantium iure, esse error nisi ex labore rem vero maiores
            suscipit eligendi, quae repudiandae ut repellat et pariatur inventore nam? Saepe molestias fugiat placeat
            eveniet beatae magni reiciendis doloremque dolorum, sint libero nobis laudantium mollitia architecto vel
            illum ratione suscipit earum cupiditate nam? Debitis perferendis mollitia dignissimos consectetur nostrum
            consequatur nihil sit aspernatur incidunt ullam pariatur, nam nemo magni ut, obcaecati, nisi in. Neque atque
            amet libero voluptate quos odit, consequatur officia voluptatum reprehenderit provident temporibus eveniet
            repellat ratione ad? A sunt tempore eius, dolores, tenetur molestiae minus quidem quod laboriosam nostrum
            veniam beatae veritatis ducimus. Nesciunt odit nam sequi sint eveniet deserunt facere unde voluptate
            perspiciatis quia velit temporibus vitae voluptates voluptatum maiores, iste delectus. Minima nostrum earum
            ab corporis rerum adipisci dignissimos facilis sequi suscipit? Illum ipsam asperiores voluptates rerum
            soluta excepturi consectetur nam deserunt laboriosam culpa recusandae modi adipisci cumque, reiciendis
            dolore. Delectus vero amet quibusdam asperiores sunt laboriosam blanditiis? Omnis dolore praesentium
            molestias necessitatibus, accusantium illo veritatis magni illum labore, quasi nemo in explicabo recusandae
            velit odio molestiae sequi saepe numquam iure eligendi soluta earum mollitia asperiores. Ea consequatur est
            ut, voluptatibus, deserunt error, aut dolorum eaque maiores dignissimos maxime officia libero quos odio
            quidem labore sapiente unde a nihil saepe voluptatem nemo repudiandae. Aliquid veritatis, dicta nemo,
            blanditiis suscipit ratione obcaecati excepturi ducimus odio, quo dolorem eos unde. Labore accusantium,
            nobis totam commodi provident ipsam fugit ipsum eos neque facilis reprehenderit hic, excepturi sint?
            Adipisci placeat nulla sint architecto dolorum soluta possimus provident odio ea, inventore tempore sunt
            eaque ab eum nobis modi optio consequatur mollitia iure consectetur, velit illum! Quod, provident ut tenetur
            neque, sapiente inventore maxime porro quas, deleniti quo ducimus adipisci dolorum sint. Praesentium, ut
            molestias quisquam labore dolores omnis dignissimos perferendis tempora qui nam ratione suscipit. Quae quia
            fuga quaerat assumenda, corporis necessitatibus maiores eligendi! Autem nulla aperiam veritatis esse
            molestiae sunt ratione necessitatibus quas sit veniam possimus incidunt nobis, ducimus fugiat omnis odit ab
            tenetur facilis quos eos. Voluptate saepe autem iure ducimus aliquam, maiores vel voluptates minus
            doloremque delectus qui ab, nobis doloribus. Laborum ratione numquam beatae, sequi qui blanditiis dolor quos
            nemo fuga dolores inventore similique, saepe eveniet vero eum deleniti architecto esse. Nisi distinctio in
            quia, tempore, qui perferendis ullam ut sit vitae alias odio hic porro quo fugiat possimus, cum recusandae
            dolor voluptas molestiae exercitationem saepe odit placeat? Laborum aperiam beatae consequatur recusandae.
            Consequatur ipsa similique, dolores earum error reiciendis, laudantium aspernatur perspiciatis eligendi vero
            distinctio libero assumenda! Quaerat sunt illo perferendis eum. Voluptates, ipsam. Mollitia cumque dolorem
            nesciunt, velit sapiente qui laudantium quod odit expedita consequatur eveniet molestiae repellat, nihil
            animi voluptatum iste iure corporis! Ab quaerat facilis corporis ipsam adipisci.</p>
    </div>
</template>