<template>
   <section class="flex-center">
      <u-card>
         <p><u-l path="about/intro"></u-l></p>
      </u-card>
   </section>
   <section>
      <u-scroll-anim blur opacity>
         <h2><u-l path="about/sections/life/h"></u-l></h2>
      </u-scroll-anim>
      <u-scroll-anim blur dir="left" opacity>
         <p><u-l path="about/sections/life/p"></u-l></p>
      </u-scroll-anim>
   </section>
   <section>
      <u-scroll-anim blur opacity>
         <h2><u-l path="about/sections/meaning/h"></u-l></h2>
      </u-scroll-anim>
      <u-scroll-anim blur dir="right" opacity>
         <p><u-l path="about/sections/meaning/p"></u-l></p>
      </u-scroll-anim>
   </section>
   <section>
      <u-scroll-anim blur opacity>
         <h2><u-l path="about/sections/intrests/h"></u-l></h2>
      </u-scroll-anim>
      <u-scroll-anim blur dir="left" opacity>
         <ul>
            <li><u-l path="about/sections/intrests/li1"></li>
            <li><u-l path="about/sections/intrests/li2"></li>
            <li><u-l path="about/sections/intrests/li3"></li>
         </ul>
      </u-scroll-anim>
   </section>
</template>