<template>
      <section id="video">
         <iframe src="https://www.youtube.com/embed/aboZctrHfK8?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </section>
      <section id="content">
         <h2><u-l path="faq/name"></u-l></h2>
         <ol>
            <li><u-l path="faq/questions/1"></u-l></li>
            <p>42</p>
            <li><u-l path="faq/questions/2"></u-l></li>
            <p>42</p>
            <li><u-l path="faq/questions/3"></u-l></li>
            <p>42</p>
            <li><u-l path="faq/questions/4"></u-l></li>
            <p>42</p>
            <li><u-l path="faq/questions/5"></u-l></li>
            <p>42</p>
         </ol>
         <u-form><p><u-l path="faq/form/h"></u-l></p></u-form>
      </section>
</template>