u-retro-wave,
:root[theme="dark"] u-retro-wave{
   /* background */
   --b-col-1: rgb(0, 0, 0);
   --b-col-2: rgb(14, 18, 87);
   --b-col-3: rgb(15, 1, 15);
   /* overlay */
   --o-col: rgba(77, 7, 240, 0.2);
   /* grid */
   --g-col: rgb(248, 190, 199);
   --g-size: 100px;
   --g-s: 0.5s;
   /* horizon */
   --h-col: rgb(63, 15, 63);
}

:root[theme="light"] u-retro-wave{
   /* background */
   --b-col-1: rgb(255, 255, 255);
   --b-col-2: rgb(106, 114, 255);
   --b-col-3: rgb(255, 255, 255);
   /* overlay */
   --o-col: rgba(77, 7, 240, 0.2);
   /* grid */
   --g-col: rgb(248, 190, 199);
   --g-size: 100px;
   --g-s: 0.5s;
   /* horizon */
   --h-col: rgb(141, 28, 124);
}

u-retro-wave {
   display: block;
   position: relative;
   display: flex;
   justify-content: center;
   background: linear-gradient(0, var(--b-col-1), var(--b-col-2), var(--b-col-3) 50%);
   height: 150vh;
   width: 100%;
   overflow: hidden;
   perspective: 40em;
}

u-retro-wave::before,
u-retro-wave::after {
   pointer-events: none;
   position: absolute;
   content: '';
   display: block;
   width: 100%;
   height: 100%;
}

u-retro-wave::before {
   width: 250%;
   bottom: -200px;
   background-size: var(--g-size) var(--g-size);
   background-position: 0 0, calc(var(--g-size) / 2) calc(var(--g-size) / 2);
   background-image: linear-gradient(0, transparent 56%, var(--g-col) 56%, var(--g-col) 60%, transparent 60%),
      linear-gradient(90deg, transparent 56%, var(--g-col) 56%, var(--g-col) 60%, transparent 60%);
   animation: scroll var(--g-s) linear none infinite;

}

u-retro-wave::after {
   background-image:
   radial-gradient(circle at 50% 40%, var(--o-col), transparent),
      linear-gradient(0, var(--b-col-1) 5%, transparent 30%);
}

u-retro-wave #background {
   position: absolute;
   width: 100%;
   height: 67vh;
   align-items: end;
   background: var(--b-col-3);
   /* background-image: url(/src/public/stars.png);
   background-size: contain; */
}

u-retro-wave img,
u-retro-wave #background>* {
   position: absolute;
   pointer-events: none;
}


u-retro-wave #parallax {
   height: 100%;
   width: 100%;
   overflow: hidden;
}

u-retro-wave u-content {
   text-align: center;
   width: 400px;
   font-size: 2.5rem;
   margin: 0;
   color: transparent;
   background: linear-gradient(0, black 50%, rgba(46, 46, 46, 0.856) 50%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: chromatic 2s ease infinite;
}

u-retro-wave #horizon {
   width: 100%;
   height: 10rem;
   background: var(--h-col);
   bottom: 0;
   transform: translateY(50%);
   backdrop-filter: blur(20px);
   -webkit-mask-image: linear-gradient(0, transparent, black, transparent);
   mask-image: linear-gradient(0, transparent, black, transparent);
}

@keyframes chromatic {
   0% {
      filter: drop-shadow(3px 2px 1px red) drop-shadow(0px -1px 1px blue) drop-shadow(-3px 0px 1px green);
      background-size: 100% 4px;
      transform: skewX(0deg);
      opacity: 1;
   }

   25% {
      filter: drop-shadow(5px 2px 1px blue) drop-shadow(0px -2px 1px green) drop-shadow(-3px 0px 1px green);
      background-size: 100% 3px;
      transform: skewX(0.5deg);
      opacity: 0.9;
   }

   50% {
      filter: drop-shadow(3px 2px 1px green) drop-shadow(0px -1px 1px red) drop-shadow(-4px 0px 1px green);
      background-size: 100% 4px;
      transform: skewX(0deg);
      opacity: 1;
   }

   75% {
      filter: drop-shadow(3px 2px 1px blue) drop-shadow(0px -1px 1px green) drop-shadow(-3px 0px 1px green);
      background-size: 100% 3px;
      transform: skewX(0.3deg);
      opacity: 0.8;
   }

   100% {
      filter: drop-shadow(3px 2px 1px red) drop-shadow(0px -1px 1px blue) drop-shadow(-3px 0px 1px green);
      background-size: 100% 4px;
      transform: skewX(0deg);
      opacity: 1;
   }
}

@keyframes scroll {
   0% {
      transform: rotate3d(1, 0, 0, 60deg);
   }

   100% {
      transform: rotate3d(1, 0, 0, 60deg) translateY(calc(-1 * var(--g-size)));
   }
}