u-footer {
    display: block;
    width: 100%;
    height: 7rem;
}

u-footer .content {
    background: turquoise;
    position: fixed;
    bottom: 0;
    height: inherit;
    width: inherit;
    z-index: -1;
}