u-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 15em;
}

u-footer .content {
    background: var(--bg-2);
    position: fixed;
    bottom: 0;
    width: inherit;
    height: inherit;
}